{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock  %}</title>
    {% block style %}
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% endblock  %}
</head>
<body>
   
    <main>
        {% include "header.html" %}
        {% block content %}
        {% endblock  %}
    </main>

    <footer>
        Footer: <i>Сайт сейчас в разработке</i>
    </footer>
</body>
</html>