<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start page</title>
</head>
<body>
    <h3>/ <a href="/">Home</a> / <a href="/items">Items</a> / <a href="/about">About</a></h3>


    <h2>Карточка товара c id = {{item.id}}</h2>

    Наименование: <strong> {{item.name}}</strong><br>
    Бренд: <strong> {{item.brand}}</strong><br>

    Количество: 
        <strong> 
            {% if item.count > 0 %}
            {{item.count}}
            {% else %}
            товар отсутствует
            {% endif %}
        </strong><br>   

</body>
</html>